{{ define "errors/419.tmpl" }}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{.T.T "error.page_expired"}} :: {{.app.name}}</title>
<link rel="icon" href="{{url "assets/images/logo.svg"}}" type="image/svg+xml">
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-orange-200">
<div class="container mx-auto p-4" style="margin-top:200px">
 <h1 class="flex items-center justify-center flex-row text-4xl font-bold text-red-500">
  <img class="block" src="{{url "assets/images/logo.svg"}}" width="50" height="50" alt="">
  <span class="block p-4"><a href="{{url "/"}}">Golava</a></span>
 </h1>
 <div class="flex items-center justify-center flex-row text-4xl font-bold text-red-500">
  <span class="block p-4">419</span>
  <span class="block p-4">{{.T.T "error.page_expired"}}</span>
 </div>
</div>
</body>
</html>
{{ end }}